<template>
  <v-card class="project-card" outlined>
    <v-img v-if="data.background" height="210" :src="data.background">
      <template #placeholder>
        <v-row class="fill-height ma-0" align="center" justify="center">
          <v-progress-circular indeterminate color="teal lighten-1" />
        </v-row>
      </template>
    </v-img>
    <v-card-title class="d-flex flex-nowrap justify-space-between">
      <div class="text-title">
        <BaseLink :link="data.link" :label="data.name" class="text-h5 font-weight-light" />
        <div v-if="data.isPet" class="text-caption">
          {{ $t("Own project") }}
        </div>
      </div>
      <v-btn v-if="data.icon" :href="data.link" target="_blank" icon>
        <v-avatar color="transparent" size="32">
          <v-img :src="data.icon" contain :alt="data.name" />
        </v-avatar>
      </v-btn>
    </v-card-title>
    <v-card-text class="text-body-1 py-0 text-justify">
      {{ data.description }}
    </v-card-text>
    <v-divider class="ma-4" />
    <div class="px-3 pb-4">
      <v-chip v-for="(feature, index) in data.features" :key="index" outlined class="ma-1">
        {{ feature }}
      </v-chip>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'ProjectCard',
  props: {
    data: {
      type: Object,
      default: null
    }
  }
}
</script>

<style scoped>
  .text-title {
    display: flex;
    flex-direction: column;
    word-break: normal;
    width: 100%;
  }
  .project-card {
    transition: all 300ms ease;
  }
  .project-card:hover {
    transform: translateY(-6px);
  }
  @media print {
    .v-image, .v-toolbar, .v-btn--round {
      display: none !important;
    }
    .text-title {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    .v-card__text {
      padding-bottom: 15px !important;
    }
    .v-divider {
      display: none;
    }
  }
</style>
