<template>
  <v-sheet class="d-flex flex-column pt-4" color="transparent">
    <div class="d-flex flex-column-reverse flex-sm-row align-center justify-space-between">
      <div class="d-flex flex-column text-center text-sm-left my-5 mr-8 my-sm-0">
        <div class="text-h2 title mb-2">
          {{ $t('Nikita Yakovenko') }}
        </div>
        <div class="text-h5 teal--text text--lighten-1">
          Full-Stack Software Engineer
        </div>
        <div class="d-flex justify-center justify-sm-start flex-wrap my-2">
          <BaseChip icon="mdi-at" link="mailto:gooodniko@email.com" text="gooodniko@gmail.com" class="mr-2 my-1" />
          <BaseChip icon="mdi-map-marker-multiple-outline" link="https://maps.google.com/?q=Ukraine,Odessa" text="Ukraine, Odessa" class="mr-2 my-1" />
          <BaseChip icon="mdi-gitlab" link="https://gitlab.com/goodniko" text="goodniko" class="mr-2 my-1" />
          <BaseChip icon="mdi-linkedin" link="https://www.linkedin.com/in/goodniko/" text="goodniko" class="mr-2 my-1" />
          <BaseChip icon="mdi-twitter" link="https://twitter.com/yakodev" text="yakodev" class="my-1" />
        </div>
      </div>
      <v-avatar color="primary" size="150">
        <img src="avatar.jpg" :alt="$t('Nikita Yakovenko')">
      </v-avatar>
    </div>
    <div class="text-body-1 mt-4 text-justify">
      <p class="mb-2">
        {{ $t("I'm a web & software developer from Odessa, Ukraine. I have extensive programming experience and I'm comfortable developing on the back-end and front-end as well as setting up and managing infastructure.") }}
      </p>
      <p class="mb-2">
        {{ $t("I enjoy building everything from small business software to rich interactive web apps. If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me") }}
        <nuxt-link to="#contact" class="link d-link">
          {{ $t("there") }}
        </nuxt-link>.
      </p>
    </div>
  </v-sheet>
</template>

<style scoped>
  .title {
    text-indent: -3px;
  }

  .link {
    text-decoration: none;
  }

  .v-chip.v-chip--outlined {
    border-style: none;
  }

  @media screen and (max-width: 600px) {
    .v-application .text-h2 {
      font-size: 2.5rem !important;
      line-height: 2.5rem;
    }
  }
</style>
