<template>
  <div>
    <div class="text-h4 py-4">
      {{ $t("Career") }}
    </div>
    <v-timeline :dense="$vuetify.breakpoint.mobile">
      <v-timeline-item large class="timeline-next align-self-center">
        <template #icon>
          <v-avatar class="blob teal">
            <v-icon color="white">
              mdi-apple-keyboard-command
            </v-icon>
          </v-avatar>
        </template>
        <div class="text-h5 pt-3">
          {{ $t("What's next") }}
        </div>
      </v-timeline-item>
      <transition-group name="career" tag="div">
        <v-timeline-item v-for="c in career" :key="c.name" medium>
          <template #icon>
            <v-avatar>
              <v-icon color="white">
                {{ c.icon }}
              </v-icon>
            </v-avatar>
          </template>
          <template #opposite>
            <v-img :src="c.image" class="company-image" contain height="100px">
              <template #placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular indeterminate color="teal lighten-1" />
                </v-row>
              </template>
            </v-img>
          </template>
          <div class="py-4">
            <div class="d-flex justify-space-between align-end mb-2">
              <BaseLink :link="c.link" :label="c.name" class="text-h5 font-weight-light" />
              <div class="ml-4 grey--text text-subtitle-1">
                {{ c.period }}
              </div>
            </div>
            <div class="text-h6 mb-2">
              {{ c.position }}
            </div>
            <div class="text-body-1 mb-2 text-justify">
              {{ c.info }}
            </div>
          </div>
        </v-timeline-item>
      </transition-group>
    </v-timeline>
  </div>
</template>

<script>
export default {
  name: 'CareerSection',
  data () {
    return {
      career: []
    }
  },
  async fetch () {
    this.career = await this.$content(`${this.$i18n.locale}/career`).sortBy('period', 'desc').fetch()
  }
}
</script>

<style scoped>
.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}
.blob.teal {
  background: rgba(36, 166, 154, 1);
  box-shadow: 0 0 0 0 rgba(36, 166, 154, 1);
  animation: pulse-teal 2s infinite;
}
.company-image {
  transition: transform 300ms ease;
}
.company-image:hover {
  transform: scale(1.1);
}
.career-enter-active, .career-leave-active {
  transition: all 1s;
}
.career-enter, .career-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

@keyframes pulse-teal {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(36, 166, 154, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

.link {
  text-decoration: none;
}
</style>

<style>
@media screen and (max-width: 1264px) {
  .v-application--is-ltr .v-timeline--dense:not(.v-timeline--reverse):before {
    left: 26px !important;
  }
  .v-timeline--dense .v-timeline-item__body {
    max-width: calc(100% - 53px) !important;
    padding-left: 20px;
  }
  .v-timeline-item__divider {
    min-width: 53px !important;
  }
}

@media print {
  .v-timeline, .v-application--is-ltr .v-timeline:not(.v-timeline--reverse):before {
    left: 0;
    content: none;
    right: initial;
  }
  .v-timeline-item__body {
    max-width: 100% !important;
  }
  .timeline-next, .v-timeline-item__divider, .v-timeline-item__opposite {
    display: none !important;
  }
  .v-timeline-item {
    display: inline;
    padding-bottom: 0px;
  }
}
</style>
