<template>
  <div>
    <div class="text-h4 py-4">
      {{ $t("Contact") }}
    </div>
    <v-sheet color="transparent" class="pb-6">
      <blockquote class="d-flex flex-column blockquote px-0 py-2">
        &#8220;{{ $t('When we are together, there is nothing we cannot achieve.') }}&#8221;
        <small>
          <em>&mdash;{{ $t('Judi Dench') }}</em>
        </small>
      </blockquote>
      <v-form ref="form" v-model="isValid">
        <v-select
          v-model="model.subject"
          prepend-icon="mdi-lightbulb-on-outline"
          :items="subjects"
          :rules="subjectRules"
          :hint="$t('Select a subject')"
          :label="$t('Subject')"
          required
        />
        <v-text-field
          v-model="model.name"
          prepend-icon="mdi-account-outline"
          :counter="30"
          :rules="nameRules"
          :hint="$t('Write your name')"
          :label="$t('Name')"
          required
        />
        <v-text-field
          v-model="model.email"
          prepend-icon="mdi-at"
          :counter="50"
          :rules="emailRules"
          :hint="$t('Write your Email')"
          label="Email"
          required
        />
        <v-textarea
          v-model="model.text"
          prepend-icon="mdi-comment-text-outline"
          :label="$t('Message')"
          :rows="3"
          :hint="$t('Write the reason for your request')"
          required
          :rules="messageRules"
        />
        <v-btn :disabled="!isValid && !isSending" :loading="isSending" color="primary" class="d-block ml-auto" @click="sendMail">
          {{ $t('Send') }}
        </v-btn>
      </v-form>
    </v-sheet>
    <v-snackbar v-model="isMessageShown" top text :color="messageColor">
      {{ message }}
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: 'ContactSection',
  data () {
    return {
      isValid: false,
      isSending: false,
      isMessageShown: false,
      message: '',
      messageColor: '',
      model: {
        name: '',
        email: '',
        subject: '',
        text: ''
      },
      subjects: [
        this.$t('Job offer'),
        this.$t('Project creation'),
        this.$t('Other')
      ],
      nameRules: [
        v => !!v || this.$t('Name is required')
      ],
      emailRules: [
        v => !!v || this.$t('Email is required'),
        v => /.+@.+\..+/.test(v) || this.$t('Email must be valid')
      ],
      messageRules: [
        v => !!v || this.$t('Message is required')
      ],
      subjectRules: [
        v => !!v || this.$t('Subject is required')
      ]
    }
  },
  methods: {
    sendMail () {
      this.isSending = true
      this.$mail.send({
        subject: this.model.subject,
        html: `
          <b>Name</b>: ${this.model.name} <br/>
          <b>Email</b>: ${this.model.email} <br/>
          <b>Text</b>: ${this.model.text}
        `
      }).then(() => {
        this.message = this.$t('Message was sent successfully')
        this.messageColor = 'success'
      }).catch(() => {
        this.message = this.$t("Message wasn't sent")
        this.messageColor = 'error'
      }).finally(() => {
        this.isMessageShown = true
        this.isSending = false
        this.$refs.form.reset()
      })
    }
  }
}
</script>
