<template>
  <div>
    <div class="text-h4 py-4">
      {{ $t("Education") }}
    </div>
    <transition-group name="educations" tag="div">
      <v-sheet v-for="education in educations" :key="education.name" color="transparent" class="mb-2 mb-sm-3">
        <div class="d-flex justify-space-between align-start py-2">
          <div class="d-flex align-start">
            <v-avatar class="education-image mr-3" color="transparent" size="32">
              <v-icon>
                mdi-school-outline
              </v-icon>
            </v-avatar>
            <div class="d-flex flex-column">
              <div class="text-h5 font-weight-light">
                {{ education.name }}
              </div>
              <BaseLink :link="education.link" :label="education.university" />
            </div>
          </div>
          <div class="grey--text text-subtitle-1 text-no-wrap mt-1">
            {{ education.period }}
          </div>
        </div>
      </v-sheet>
    </transition-group>
  </div>
</template>

<script>
export default {
  name: 'EducationSection',
  data () {
    return {
      educations: []
    }
  },
  async fetch () {
    this.educations = await this.$content(`${this.$i18n.locale}/educations`).sortBy('period', 'desc').fetch()
  }
}
</script>

<style scoped>
  .educations-enter-active, .educations-leave-active {
    transition: all 1s;
  }
  .educations-enter, .educations-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
  @media print {
    .education-image {
      display: none;
    }
  }
</style>
