<template>
  <div>
    <div class="text-h4 py-4">
      {{ $t("Projects") }}
    </div>
    <div class="project-wrapper">
      <transition-group name="projects" tag="div">
        <ProjectCard
          v-for="(project, index) in projects"
          :key="project.name"
          :class="{ 'project-hide': index > 3 && !showMore }"
          class="d-inline-block my-2"
          :data="project"
        />
      </transition-group>
    </div>
    <div class="printable-show-more text-right py-2">
      <v-btn color="primary" text @click="showMore = !showMore">
        {{ showMore ? $t("Show less") : $t("Show more") }}
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProjectSection',
  data () {
    return {
      projects: [],
      showMore: false
    }
  },
  async fetch () {
    this.projects = await this.$content(`${this.$i18n.locale}/projects`).sortBy('start', 'desc').fetch()
  }
}
</script>

<style scoped>
  .project-wrapper {
    columns: 2
  }

  .project-hide {
    display: none !important;
  }

  .projects-enter-active, .projects-leave-active {
    transition: all 1s;
  }
  .projects-enter, .projects-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }

  @media screen and (max-width: 680px) {
    .project-wrapper {
      columns: 1
    }
  }

  @media print {
    .project-wrapper {
      columns: 1
    }

    .project-hide {
      display: inline-block !important;
    }

    .printable-show-more {
      display: none;
    }
  }
</style>
