<template>
  <div>
    <div class="text-h4 py-4">
      {{ $t("Skills") }}
    </div>
    <transition-group name="skills" tag="div">
      <v-sheet v-for="item in items" :key="item.category" color="transparent" class="mb-2 mb-sm-3">
        <div class="text-h5 font-weight-light py-2">
          {{ $t(item.category) }}
        </div>
        <v-tooltip v-for="skill in item.skills" :key="skill.title" content-class="rounded-xl" bottom>
          <template #activator="{ on, attrs }">
            <v-chip
              :outlined="!skill.fill"
              :color="getColor(skill.experience)"
              class="mr-2 my-1"
              v-bind="attrs"
              v-on="on"
              @mouseover="skill.fill = true"
              @mouseleave="skill.fill = false"
            >
              {{ skill.title }}
              <div class="printable-experience">
                {{ `: ${skill.experience} ${$t('Year')}` }}
              </div>
            </v-chip>
          </template>
          <span>{{ `${$t("Experience")}: ${skill.experience} ${$t('Year')}` }}</span>
        </v-tooltip>
      </v-sheet>
    </transition-group>
    <div class="text-right grey--text text-subtitle-2">
      {{ `${$t("Last update")}: ${new Date(updatedAt).toLocaleDateString()}` }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'SkillSection',
  data () {
    return {
      items: [],
      updatedAt: ''
    }
  },
  async fetch () {
    const categories = ['languages', 'backend', 'frontend', 'database', 'other']
    for (let i = 0; i < categories.length; i++) {
      this.items.push({
        category: categories[i],
        skills: await this.$content('skills').where({ slug: categories[i] }).sortBy('experience', 'desc').fetch()
      })
    }
    this.updatedAt = (await this.$content('skills').sortBy('updatedAt', 'desc').limit(1).fetch())[0].updatedAt
  },
  methods: {
    getColor (experience) {
      let color = ''
      if (experience > 3) {
        color = '#00695C'
      } else if (experience > 1 && experience < 4) {
        color = '#26A69A'
      } else {
        color = '#80CBC4'
      }
      return color
    }
  }
}
</script>

<style scoped>
  .v-chip {
    border-width: thin !important;
    border-style: solid !important;
  }
  .theme--light.v-chip {
    color: white;
  }

  .printable-experience {
    display: none;
  }

  .skills-enter-active, .skills-leave-active {
    transition: all 1s;
  }
  .skills-enter, .skills-leave-to /* .skills-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }

  @media print {
    .printable-experience {
      display: inline;
    }
  }
</style>
