.v-navigation-drawer__content {
    display: flex;
    align-items: center;
}

.v-application--wrap {
    min-height: calc(100vh - 124px) !important;
}

// custom scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--v-primary-base);
}