<template>
  <v-chip outlined pill>
    <v-icon color="primary" left>
      {{ icon }}
    </v-icon>
    <a :href="link" target="_blank" class="link">{{ text }}</a>
  </v-chip>
</template>

<script>
export default {
  name: 'BaseChip',
  props: {
    icon: {
      type: String,
      default: null
    },
    text: {
      type: String,
      default: null
    },
    link: {
      type: String,
      default: '/'
    }
  }
}
</script>

<style scoped>
.link {
  text-decoration: none;
  color: inherit;
}
</style>
