<template>
  <div>
    <a v-if="link" :href="link" target="_blank" class="link">
      {{ label }}
    </a>
    <div v-else>
      {{ label }}
    </div>
    <div class="printable-link mt-n1 text-caption">
      {{ link }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseLink',
  props: {
    link: {
      type: String,
      default: null
    },
    label: {
      type: String,
      required: true,
      default: ''
    }
  }
}
</script>

<style scoped>
  .link {
    text-decoration: none;
  }
  .printable-link {
    display: none;
  }
  @media print {
    .printable-link {
      display: block;
      color: var(--v-primary-lighten1);
    }
  }
</style>
