<template>
  <v-app>
    <no-ssr>
      <vue-scroll-progress-bar :container-class="{ 'progress-bar-container': true }" background-color="#26A69A" z-index="6" height="3px" />
    </no-ssr>
    <v-navigation-drawer
      v-model="drawwer"
      mini-variant
      clipped
      fixed
      app
    >
      <v-list>
        <v-tooltip v-for="(item, i) in items" :key="i" content-class="rounded-xl" right>
          <template #activator="{ on, attrs }">
            <v-list-item :to="{ path: localePath('/'), hash: item.to }" router exact v-bind="attrs" v-on="on">
              <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="item.title" />
              </v-list-item-content>
            </v-list-item>
          </template>
          <span>{{ $t(item.title) }}</span>
        </v-tooltip>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar clipped-left fixed outlined elevation="0" app>
      <v-btn icon @click.stop="drawwer = !drawwer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <!-- <v-img src="logo-full.png" contain width="120" /> -->
      <v-toolbar-title>
        <router-link class="title" to="/" v-text="$t('Nikita Yakovenko')" />
      </v-toolbar-title>
      <v-spacer />
      <v-tooltip content-class="rounded-xl" bottom>
        <template #activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on" @click="onPrint">
            <v-icon color="primary">
              mdi-printer-outline
            </v-icon>
          </v-btn>
        </template>
        <span>{{ $t("Resume") }}</span>
      </v-tooltip>
      <v-tooltip content-class="rounded-xl" bottom>
        <template #activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on" @click="$vuetify.theme.dark = !$vuetify.theme.dark;">
            <v-icon>mdi-theme-light-dark</v-icon>
          </v-btn>
        </template>
        <span>{{ $t("Theme") }}</span>
      </v-tooltip>
      <v-tooltip content-class="rounded-xl" bottom>
        <template #activator="{ on, attrs }">
          <v-btn icon :to="switchLocalePath(anotherLocale)" class="text-uppercase" v-bind="attrs" v-on="on">
            {{ anotherLocale }}
          </v-btn>
        </template>
        <span>{{ $t("Language") }}</span>
      </v-tooltip>
    </v-app-bar>
    <v-main>
      <v-container v-scroll="onScroll">
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer absolute inset app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
    <v-fab-transition v-show="isScollTopShown">
      <v-btn
        v-show="isScollTopShown"
        color="primary"
        fab
        fixed
        bottom
        right
        @click="$vuetify.goTo(0)"
      >
        <v-icon>mdi-chevron-up</v-icon>
      </v-btn>
    </v-fab-transition>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    return {
      isScollTopShown: false,
      items: [
        {
          icon: 'mdi-account-outline',
          title: 'About',
          to: 'about'
        },
        {
          icon: 'mdi-code-json',
          title: 'Skills',
          to: 'skills'
        },
        {
          icon: 'mdi-debug-step-over',
          title: 'Career',
          to: 'career'
        },
        {
          icon: 'mdi-projector-screen-outline',
          title: 'Projects',
          to: 'projects'
        },
        {
          icon: 'mdi-school-outline',
          title: 'Education',
          to: 'education'
        },
        {
          icon: 'mdi-at',
          title: 'Contact',
          to: 'contact'
        }
      ],
      drawwer: !this.$vuetify.breakpoint.mobile
    }
  },
  head () {
    return {
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      link: [
        { rel: 'alternate', hreflang: this.anotherLocale, href: this.switchLocalePath(this.anotherLocale) }
      ],
      meta: [
        {
          name: 'og:locale',
          content: this.$i18n.locale
        },
        {
          name: 'og:locale:alternate',
          content: this.anotherLocale
        }
      ]
    }
  },
  computed: {
    anotherLocale () {
      return this.$i18n.locale === 'en' ? 'ru' : 'en'
    }
  },
  methods: {
    onPrint () {
      window.print()
    },
    onScroll (e) {
      this.isScollTopShown = (window.pageYOffset || e.target.scrollTop || 0) > 450
    }
  }
}
</script>

<style scoped>
  /* .v-avatar {
    width: 35px !important;
    height: 35px !important;
    margin-left: -10px;
    margin-right: 20px;
  } */
  .title {
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    color: var(--v-primary-base);
  }
  .progress-bar-container {
    position: fixed;
    width: 100%;
    top: 61px;
    left: 0;
  }
  .v-list {
    width: 100%;
  }
  .v-overlay {
    z-index: 7;
  }
  .v-navigation-drawer--fixed {
    z-index: 8;
  }
  @media screen and (max-width: 956px) {
    .progress-bar-container {
      top: 53px;
    }
  }
  @media print {
    .v-navigation-drawer, .v-toolbar, .v-footer, .v-btn--fab {
      display: none !important;
    }
    .v-main {
      padding: 0px !important;
    }
  }
</style>
