<template>
  <v-app>
    <div v-if="error.statusCode === 404" class="d-flex flex-column my-auto align-center justify-center">
      <div class="error-code">
        404
      </div>
      <div class="error-title">
        Ooops!!
      </div>
      <div class="error-text text-center my-3">
        {{ $t("That page doesn't exist or is unavailable") }}
      </div>
      <v-btn to="/" color="primary" text>
        {{ $t("Go Back to Home") }}
      </v-btn>
    </div>
    <div v-else>
      An error occurred
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'EmptyLayout',
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head () {
    const title = this.error.statusCode === 404 ? 'Page Not Found' : 'An error occurred'
    return {
      title
    }
  }
}
</script>

<style scoped>
.error-code {
  font-size: 17em;
  font-weight: 200;
  line-height: 0.8em;
}
.error-title {
  font-size: 3em;
}
.error-text {
  text-transform: uppercase;
}

 @media screen and (max-width: 600px) {
    .error-code {
      font-size: 12em;
    }
    .error-title {
      font-size: 2em;
    }
  }
</style>
