<template>
  <v-row justify="center" align="center">
    <v-col cols="12" md="8">
      <AboutSection id="about" v-intersect="intersect" class="pagebreak my-12" />
      <SkillSection id="skills" v-intersect="intersect" class="pagebreak my-12" />
      <CareerSection id="career" v-intersect="intersect" class="pagebreak my-12" />
      <ProjectSection id="projects" v-intersect="intersect" class="pagebreak my-12" />
      <EducationSection id="education" v-intersect="intersect" class="pagebreak my-12" />
      <ContactSection id="contact" v-intersect="intersect" class="pagebreak my-12" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'IndexPage',
  data () {
    return {
      intersect: {
        handler: this.handleIntersect,
        options: {
          threshold: 0.1
        }
      }
    }
  },
  head () {
    const title = this.$t('Nikita Yakovenko | Software Engineer')
    const description = this.$t('Nikita Yakovenko is a software engineer who specializes in building and designing digital experiences.')
    return {
      title,
      meta: [
        {
          name: 'title',
          content: title
        },
        {
          name: 'og:title',
          content: title
        },
        {
          name: 'description',
          content: description
        },
        {
          name: 'og:description',
          content: description
        },
        {
          name: 'profile:first_name',
          content: this.$t('Nikita')
        },
        {
          name: 'profile:last_name',
          content: this.$t('Yakovenko')
        }
      ]
    }
  },
  methods: {
    handleIntersect (entries, observer) {
      const intersectingElement = entries[0]
      if (intersectingElement.isIntersecting) {
        this.$router.push({ hash: `#${intersectingElement.target.id}`, replace: true, params: { scrollOff: true } })
      }
    }
  }
}
</script>

<style scoped>
  @media print {
    .pagebreak {
      page-break-after: always;
    }
    #contact {
      display: none !important;
    }
  }
</style>
